.custom-navbar {
    background: linear-gradient(90deg, #021639, #031437);
    padding: 10px 15px;
  }
  
  .brand-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: white !important;
    font-family: poppins;
    margin-left: 2%;
  }
  
  .nav-link-custom {
    color: white !important;
    font-size: 1rem;
    margin-right: 30px;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
    font-family: poppins;
    
  }
  
  .nav-link-custom:hover {
    color: #ffdd57 !important;
    transform: scale(1.1);
  }
  
  .custom-footer {
    background: linear-gradient(90deg, #021639, #031437);
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 1rem;
    margin-top: 20px;
    font-family: poppins;
  }
  